@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;500&display=swap');

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(121, 29, 9);
        background: linear-gradient(90deg, rgba(121, 29, 9, 1) 31%, rgba(255, 0, 61, 1) 73%);
        text-align: center;
        color: white;
        font-family: 'Inter Tight', sans-serif;
        height: 5rem;
    }